{{#if event}}
<b>{{event.title}}</b>

- {{event.format}}
{{#if event.onsite}}
- {{event.restrictions}}, on-site, in <i>{{event.location}}</i>
{{else}}
- {{event.restrictions}}, online
{{/if}}
- weight: {{event.weight}}
- participants: {{event.participants}}
- start: {{event.start_dt}}
- end: {{event.end_dt}} - {{event.duration}}
{{#if event.is_votable_now}}
- <i>weight voting is in progress</i>
{{/if}}
{{#if event.description}}

<blockquote>{{{event.description}}}</blockquote>
{{/if}}
{{#if event.prizes}}

<b>prizes:</b>
<blockquote>{{{event.prizes}}}</blockquote>
{{/if}}

<a href="{{event.url}}">event</a> <a href="{{event.ct_url}}">ctftime</a>
{{else}}
event with such id does not exist :(
{{/if}}
